.personalProjectsImg{
    width: 400px;
    height: 400px;
}

.personalProjectContainer{
    opacity: 1;
    transform: translate(0, 1000px);
}

.personalProjectRightDiv{
    max-width: 300px;
}

.personalProjectRightDiv p{
    text-align: justify;
}

@media (max-width: 790px) {
    .personalProjectsImg{
        width: 250px;
        height: 250px;
    }
    .personalProjectRightDiv{
        width: 250px;
    }
}