.whoAmIImg{
    height: 400px;
    width: 400px;
    border-radius: 50%;
}

.whoAmILeftDiv{
    max-width: 400px;
    text-align: justify;
}

.whoAmIBottomDiv{
    max-width: 400px;
}

@media (max-width: 790px) {
    .whoAmIImg{
        height: 400px;
        width: 300px;
    }
    .whoAmIBottomDiv{
        width: 300px;
    }
}